.header1 {
    position: relative;
    top: 150px;
    left: -10px;
    color: #451f55;
    text-shadow: 3px 3px #297373;
    font-weight: bold;
    font-size: 50px;
}
.header2 {
    position: relative;
    top: 150px;
    left: -15px;
    color: #451f55;
    text-shadow: 3px 3px #297373;
    font-weight: bold;
    font-weight: 50px;
}