.splashInfo {
    margin-top: -150px;
}

.card {
    position: relative;
    top: 150px;
    padding: 20px;
    margin: 10px;
    color: #451F55;
    font-weight: bold;
    background-color: #bebebe;
    z-index: 2;
}

.card-title {
    font-size: 25px;
    font-weight: bolder;
    background-color: #451F55;
    box-shadow: 2px 2px #297373;
    color: #E6E6E6;
}